.main-page {
  height: 100vh;
  width: 100vw; }
  .main-page__content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .main-page__title {
    font-family: 'Pacifico', cursive;
    color: #36454f; }
  .main-page__image-container {
    position: relative; }
  .main-page__image-text {
    position: absolute;
    top: 20%;
    left: 43%;
    color: #36454f;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif; }
