<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <link rel="stylesheet" href="main.css">
</head>
<body>
 <div class="main-page">
  <content class="main-page__content">
    <h1 class="main-page__title">Welcome to Found Sounds Part 2</h1>
    <div class="main-page__image-container">
      <p class="main-page__image-text">Coming Soon</p>
      <img src='http://res.cloudinary.com/ddvdi1pie/image/upload/v1478809001/il_570xN.385989055_nvp7_mh0mj1.jpg'/>
    </div>
  </content>
</div>
</body>
</html>
